{% extends "ozapp/template_login.html" %}

{% load bootstrap3 %}

{% block bootstrap3_title %}
    <title>Cadastro de Evento</title>
{% endblock %}

{% block bootstrap3_content %}



    <!-- <link rel="stylesheet" type="text/css" href="https://getbootstrap.com/examples/signin/signin.css"> -->
    <div class="row">
        <div class="container col-xs-10 col-sm-7 centred">
            <h3>Cadastro de Evento</h3>
            <form method="POST" class="form-signin">
                {% csrf_token %}
                <h4 class="tituloDados">Dados Gerais</h4>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="id_nome">Nome do Evento</label>
                            <input class="form-control" id="id_nome" maxlength="50" name="nome" placeholder="Nome"
                           required="required" title="" type="text">
                        </div>    
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="id_tipo">Tipo de Evento</label>
                            <input class="form-control" id="id_tipo" maxlength="20" name="tipo" placeholder="Tipo"
                                   required="required" title="" type="text">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-12">
                        <!-- <div class="container col-sm-12"> -->
                        <div class="container col-sm-6 form-group form-esquerda">
                            <label class="control-label" for="id_idade_minima">Idade minima</label>
                            <input class="form-control" id="id_idade_minima" name="idade_minima" placeholder="Idade minima"
                                   required="required" title="" type="number"></div>
                        <!-- <div class="form-group"> -->
                        <div class="container col-sm-6 form-group form-direita">
                            <label class="control-label" for="id_idade_maxima">Idade máxima</label>
                            <input class="form-control" id="id_idade_maxima" name="idade_maxima" placeholder="Idade maxima"
                                   required="required" title="" type="number">
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                                <label class="control-label" for="id_data_criacao">Data criacao</label>
                                <input class="form-control" id="id_data_criacao" name="data_criacao" placeholder="Data criacao" required="required" title="" type="text" value="">
                            <!-- disabled  -->
                        </div>
                    </div>
                </div>
                

                <div class="row">
                    <div class="col-xs-12">
                        <div class="container col-xs-6 form-group form-esquerda" >
                            <label class="control-label" for="id_data_inicio">Data inicio</label>
                            <!-- <input class="form-control" id="id_data_inicio" name="data_inicio" placeholder="Data inicio"
                           title="" type="text"> -->
                            <div class="input-group date" >
                                <input type='text' class="form-control" id="id_data_inicio" name="data_inicio" placeholder="Data inicio" title="" />
                                <span class="input-group-addon input-calendarioform">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <!-- <script type="text/javascript">
                            $(function () {
                                $("#id_data_inicio").datetimepicker();
                            });
                        </script> -->
                        <div class="container col-xs-6 form-group form-direita">
                            <label class="control-label" for="id_data_fim">Data fim</label>
                           <!--  <input class="form-control" id="id_data_fim" name="data_fim" placeholder="Data fim" title=""
                                   type="text"> -->
                            <div class="input-group date" >
                                <input type='text' class="form-control" id="id_data_fim" name="data_fim" placeholder="Data fim" title=""/>
                                <span class="input-group-addon input-calendarioform">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>        
                    </div>

                    
                  <!--   <script src="/static/bootstrap/css/assets/scripts.js"></script> -->


                </div>
               

                <!-- <hr class="classHr"> -->
                <!-- <div> -->
                    <h4 class="tituloDados">Localização do Evento</h4>
                <!-- </div> -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="id_local">Nome do Local</label>
                            <input class="form-control" id="id_local" maxlength="50" name="local" placeholder="Local"
                                   required="required" title="" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="id_endereco">Endereco</label>
                            <input class="form-control" id="id_endereco" maxlength="100" name="endereco" placeholder="Endereco"
                                   required="required" title="" type="text">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="id_bairro">Bairro</label>
                            <input class="form-control" id="id_bairro" maxlength="50" name="bairro" placeholder="Bairro"
                                   required="required" title="" type="text">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="id_cidade">Cidade</label>
                            <input class="form-control" id="id_cidade" maxlength="20" name="cidade" placeholder="Cidade"
                                   required="required" title="" type="text">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="id_estado">Estado</label>
                            <input class="form-control" id="id_estado" maxlength="20" name="estado" placeholder="Estado"
                                   required="required" title="" type="text">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-12">
                        <div class="multifield"> <!-- form-group -->
                            <label class="control-label" for="id_cep">CEP</label>
                            <input class="form-control" id="id_cep" name="cep" placeholder="Cep" required="required" title=""
                                   type="number">
                        </div>
                    </div>
                </div>
          <!--   {% csrf_token %}#}
            {% bootstrap_form form %}
            {{ form.as_p }} #}  -->
                <div class="row">
                    <div class="col-xs-12">
                        <input type="submit" value="Cadastrar">
                    </div>
                </div>
                
            </form>
        </div>
    </div>

<script>
    $(document).ready(function() {

        //$(document).off('#id_data_fim');

        $('#id_data_inicio')
            .datepicker({
                format: 'dd/mm/yyyy'
            })
            .on('changeDate', function(e) {
                // Revalidate the date field
        
                //$(document).on('.datepicker.data-api');
            });


          $("#id_data_fim").
            datepicker({
                format: 'dd/mm/yyyy'
            })
            .on('changeDate', function(e){
                console.log( $("#id_data_inicio").val() )


                var startdate = $("#id_data_inicio").val().replace('-','/');
                var endDate  = $("#id_data_fim").val().replace('-','/');

                if (startdate <= endDate) {
                    console.log("deu ruim")
                }

            });

    });
    </script>

    
  <!--  <script type="text/javascript">
        $(document).load(function(){
            $("#id_data_inicio").datepicker({
                format: 'dd/mm/yyyy'
            })
            .on('changeDate', function(e){

                // $("#id_data_fim").formValidation('revalidateField', 'date');

            });

        //    $("#id_data_fim").formValidation({
        //     framework: 'bootstrap',
        // icon: {
        //     valid: 'glyphicon glyphicon-ok',
        //     invalid: 'glyphicon glyphicon-remove',
        //     validating: 'glyphicon glyphicon-refresh'
        // },
        //             fields: {
        //                 date: {
        //                     validators: {
        //                         notEmpty: {
        //                             message: 'The date is required'
        //                         },
        //                         date: {
        //                             format: 'MM/DD/YYYY',
        //                             min: '01/09/2016',
        //                             max: '12/30/2017',
        //                             message: 'The date is not a valid'
        //                         }
        //                     }
        //                 }
        //             }
        //         });

                console.log(e.date)
        // $('#id_data_inicio').datetimepicker();
        // $('#id_data_fim').datetimepicker({
        //     useCurrent: false //Important! See issue #1075
        // });
        // $("#id_data_inicio").on("dp.change", function (e) {
        //     $('#id_data_fim').data("DateTimePicker").minDate(e.date); 
        // $("#id_data_fim").on("dp.change", function (e) {
        //     $('#id_data_inicio').data("DateTimePicker").maxDate(e.date);
        // });
    });

</script> -->
{% endblock %}
