{% extends "ozapp/template.html" %}

{% block bootstrap3_title %}
<title>OzEventos</title>
{% endblock %}

{% block bootstrap3_content %}
<div class="content-body">
<div id="top" class="header-bg fullpage">
    <div class="header fullpage">
        <div class="col-sm-4 col-sm-offset-7">
            <div class="connect-icon">
                <div class="social  clearfix  animated bounceInDown">
                    <a href="https://www.facebook.com/ufpioficial/"><img alt="ozeventos" src="/static/bootstrap/css/images/facebook.png" width="32"></a>
                    <a href="https://www.twitter.com/ufpioficial/"><img alt="ozeventos" src="/static/bootstrap/css/images/twitter.png"  width="32"></a>
                    <a href="https://www.instagram.com/ufpi/"><img alt="ozeventos" src="/static/bootstrap/css/images/instagram.png"  width="32"></a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="absolute-center">
                <div class="row">
                    <div class="col-sm-7">
                        <h1 class="info animated fadeInDown"><a href="" class="logo">Ozeventos<br>O maior portal de eventos educacionais do Brasil</a><br><b>Faça sua <a href="/cadastrar/">inscrição</a> e conheça nossos eventos!<br>Completamente gratuito.</b></h1>
                        <a href="#portfolio_eventos" class="btn scroll animated bounceInUp">Eventos</a><a href="#carousel-team" class="btn scroll animated bounceInDown">Conheça a Equipe</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- header 
-->
<!-- eventos -->
<!-- works -->


<div id="portfolio_eventos" class="portfolio spacer">
<div class="container">
<h2 class="center">Eventos</h2>

    <ul class="grid effect-2" id="grid">
        <li><img alt="portfolio" src="/static/bootstrap/css/images/grid-image/1.jpg"><div class="overlay animated fadeIn"><span class="animated bounceIn"><a href="#" target="_blank"><i class="fa fa-link"></i> Saiba mais</a></span></div></li>
        <li><img alt="portfolio" src="/static/bootstrap/css/images/grid-image/2.jpg"><div class="overlay animated fadeIn"><span class="animated fadeInDown"><a href="#" target="_blank"><i class="fa fa-link"></i> Saiba mais</a></span></div></li>
        <li><img alt="portfolio" src="/static/bootstrap/css/images/grid-image/3.jpg"><div class="overlay animated fadeIn"><span class="animated fadeInUp"><a href="#" target="_blank"><i class="fa fa-link"></i> Saiba mais</a></span></div></li>
        <li><img alt="portfolio" src="/static/bootstrap/css/images/grid-image/4.jpg"><div class="overlay animated fadeIn"><span class="animated bounceIn"><a href="#" target="_blank"><i class="fa fa-link"></i> Saiba mais</a></span></div></li>
        <li><img alt="portfolio" src="/static/bootstrap/css/images/grid-image/5.jpg"><div class="overlay animated fadeIn"><span class="animated fadeInDown"><a href="#" target="_blank"><i class="fa fa-link"></i> Saiba mais</a></span></div></li>
        <li><img alt="portfolio" src="/static/bootstrap/css/images/grid-image/6.jpg"><div class="overlay animated fadeIn"><span class="animated bounceIn"><a href="#" target="_blank"><i class="fa fa-link"></i> Saiba mais</a></span></div></li>
        <li><img alt="portfolio" src="/static/bootstrap/css/images/grid-image/7.jpg"><div class="overlay animated fadeIn"><span class="animated bounceIn"><a href="#" target="_blank"><i class="fa fa-link"></i> Saiba mais</a></span></div></li>
        <li><img alt="portfolio" src="/static/bootstrap/css/images/grid-image/8.jpg"><div class="overlay animated fadeIn"><span class="animated bounceIn"><a href="#" target="_blank"><i class="fa fa-link"></i> Saiba mais</a></span></div></li>
        <li><img alt="portfolio" src="/static/bootstrap/css/images/grid-image/9.jpg"><div class="overlay animated fadeIn"><span class="animated fadeInDown"><a href="#" target="_blank"><i class="fa fa-link"></i> Saiba mais</a></span></div></li>
        <li><img alt="portfolio" src="/static/bootstrap/css/images/grid-image/3.jpg"><div class="overlay animated fadeIn"><span class="animated fadeInUp"><a href="#" target="_blank"><i class="fa fa-link"></i> Saiba mais</a></span></div></li>
        <li><img alt="portfolio" src="/static/bootstrap/css/images/grid-image/4.jpg"><div class="overlay animated fadeIn"><span class="animated bounceIn"><a href="#" target="_blank"><i class="fa fa-link"></i> Saiba mais</a></span></div></li>
        <li><img alt="portfolio" src="/static/bootstrap/css/images/grid-image/5.jpg"><div class="overlay animated fadeIn"><span class="animated fadeInDown"><a href="#" target="_blank"><i class="fa fa-link"></i> Saiba mais</a></span></div></li>
        <li><img alt="portfolio" src="/static/bootstrap/css/images/grid-image/6.jpg"><div class="overlay animated fadeIn"><span class="animated bounceIn"><a href="#" target="_blank"><i class="fa fa-link"></i> Saiba mais</a></span></div></li>
        <li><img alt="portfolio" src="/static/bootstrap/css/images/grid-image/7.jpg"><div class="overlay animated fadeIn"><span class="animated bounceIn"><a href="#" target="_blank"><i class="fa fa-link"></i> Saiba mais</a></span></div></li>
    </ul>
</div>
</div>
</div>
        <!-- gridloading script -->
    <script src="/static/bootstrap/css/assets/gridloading/js/modernizr.custom.js"></script>
    <script src="/static/bootstrap/css/assets/gridloading/js/masonry.pkgd.min.js"></script>
    <script src="/static/bootstrap/css/assets/gridloading/js/imagesloaded.js"></script>
    <script src="/static/bootstrap/css/assets/gridloading/js/classie.js"></script>
    <script src="/static/bootstrap/css/assets/gridloading/js/AnimOnScroll.js"></script>
    <!-- gridloading script -->

<!-- eventos -->

<!-- team -->
<div class="team-bg">
<div class="team center spacer">
    <h2>Time A - Engenharia de Software II</h2>

    <div id="carousel-team" class="carousel slide" data-ride="carousel">
    <div class="container">


<div class="carousel-inner">    
            <div class="item active animated bounceInRight">
            <span class="animated slideInLeft"><img alt="portfolio" src="/static/bootstrap/css/images/team/1.jpg" width="100" class="img-circle"></span>
            <p>Adicionar Frase.</p>
            <span>Layse Carvalho</span>
            </div>
            <div class="item  animated bounceInRight">
            <span class="animated slideInLeft"><img alt="portfolio" src="/static/bootstrap/css/images/team/2.jpg" width="100" class="img-circle"></span>
            <p>Adicionar Frase.</p>
            <span>Philipe Valfok</span>
            </div>
            <div class="item  animated bounceInRight">
            <span class="animated slideInLeft"><img alt="portfolio" src="/static/bootstrap/css/images/team/3.jpg" width="100" class="img-circle"></span>
            <p>Adicionar Frase.</p>
            <span>Marcos Junior</span>
            </div>
            <div class="item  animated bounceInRight">
            <span class="animated slideInLeft"><img alt="portfolio" src="/static/bootstrap/css/images/team/4.jpg" width="100" class="img-circle"></span>
            <p>Adicionar Frase.</p>
            <span>Danilo Brito</span>
            </div>
            <div class="item  animated bounceInRight">
            <span class="animated slideInLeft"><img alt="portfolio" src="/static/bootstrap/css/images/team/5.jpg" width="100" class="img-circle"></span>
            <p>Adicionar Frase.</p>
            <span>Rafael Elias</span>
            </div>
            <div class="item  animated bounceInRight">
            <span class="animated slideInLeft"><img alt="portfolio" src="/static/bootstrap/css/images/team/6.jpg" width="100" class="img-circle"></span>
            <p>Adicionar Frase.</p>
            <span>Armando Sousa</span>
            </div>

    </div>


    <!-- Controls -->
    <a class="left arrow" href="#carousel-team" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    <a class="right arrow" href="#carousel-team" data-slide="next"><i class="fa fa-angle-right"></i></a>
    <!-- Controls -->
    </div>

    </div>  
</div>
</div>

<!-- team -->



<!-- scroll -->
</div>
<a href="#top" class="toTop scroll"><i class="fa fa-angle-up"></i></a>

    <script src="/static/bootstrap/css/assets/scripts.js"></script>
<!-- scroll -->

    <script>
      $( document ).ready(function() {
        $("#top").height($(".header.fullpage").height());

        $("#searchBtn").click(function(){
            $("#formSearch").submit();
        })

      })
    </script>


{% endblock %}